@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins/OFL.txt);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
}
img {
  max-width: 100%;
}
.continer {
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .continer {
    max-width: 1300px;
    margin: 0 auto;
  }
}
