$color-blu-gray:#285E67;
$color-gray-red:#FCE2D7;
$color-gray:#F4F4F4;


@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
    font-weight: 100;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;
  }
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
    font-weight: 900;
  }